<h4> <%= @activities.count %>/<%= Activity.count %></h4>

<%#== pagy_nav(@pagy) %>
<%= link_to_unless_current '5', activities_path(items: 5) %>
<%= link_to_unless_current '10', activities_path(items: 10) %>
<%= link_to_unless_current '20', activities_path(items: 20) %>
<%== pagy_bootstrap_nav(@pagy) %>

<table class="table table-striped table-bordered">
  <thead class="table-dark">
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Phone</th>
    <th>Description</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @activities.each do |activity| %>
    <tr>
      <td><%= activity.name %></td>
      <td><%= activity.email %></td>
      <td><%= activity.phone %></td>
      <td><%= activity.description %></td>

      <td><%= link_to 'Show', activity, class: "btn btn-secondary" %></td>
      <td><%= link_to 'Edit', edit_activity_path(activity), class: "btn btn-secondary" %></td>
      <td><%= button_to 'Destroy', activity, method: :delete, class: "btn btn-secondary" %></td>
    </tr>
  <% end %>
  </tbody>
</table>
<br>
<%= link_to 'New Activity', new_activity_path %>


