
<div class="bg-light p-5 rounded-lg m-3">
  <h1 class="display-4"><%= @activity.name %></h1>
  <p class="lead">
    <%= @activity.phone %> |
    <%= @activity.email %> |
    <%= @activity.map %>
  </p>
  <hr class="my-4">
  <p><%= @activity.description %></p>

  <%= link_to "Edit this activity", edit_activity_path(@activity), class: "btn btn-secondary" %>
  <%= link_to "Back to activities", activities_path, class: "btn btn-secondary" %>
  <p></p>
  <%= button_to "Destroy this activity", @activity, method: :delete, class: "btn btn-danger" %>
  <br>
  <%= render 'disqus' %>
</div>

